ul {
  text-align: right;
}

#header {
  border-top-width: 10px;
  border-right-width: 1em;
  border-bottom-width: thick;
  border-left-width: thin;
}

#menu li {
  display: inline-block;
  list-style: none;
  padding: 5px;
  font: bold 14px;
}
li a {
  text-decoration: none;
}

#box-container {
  display: flex;
  height: 450px;
}
#titulo {
  background-color: blue;
  width: 70%;
  height: 100%;
}

#elliot {
  background-color: orange;
  width: 30%;
  height: 100%;
}
#elliot div {
  text-align: center;
  margin: 10px;
  height: 40%;
}
