body {
  margin-left: 50px;
  margin-right: 50px;
  font-family: sans-serif;
  background-color: #58d68d;
}

nav {
  padding: 5px;
  background-color: #5fa042;
}

nav ul {
  text-align: right;
  margin-right: 30px;
}

nav li {
  display: inline-block;
  list-style: none;
  padding: 5px;
  font: bold 14px;
}
li a {
  text-decoration: none;
  color: white;
}

header {
  display: flex;
  height: 100px;
  background-color: white;
}

header div {
  margin-right: 60%;
}

header img {
  height: 100px;
}

#container {
  display: flex;
  width: 100%;
  height: auto;
}

#div1 {
  width: 10%;
  background-color: #f1f1f1;
}

#div2 {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 80%;
  background-color: #f1f1f1;
}

#div3 {
  width: 10%;
  background-color: #f1f1f1;
}

.curso {
  margin-left: 10%;
  margin-bottom: 2%;
  width: 80%;
  height: auto;
  background-color: white;
}

.perfil {
  width: auto;
  height: 400px;
  margin-bottom: 0px;
}

.perfil img {
  width: 100%;
  height: 100%;
  margin-bottom: -4px;
}

#inicio {
  width: auto;
  height: auto;
  padding-top: 10px;
  margin-top: 0px;
  background-color: white;
  padding-bottom: 5px;
}

#inicio h4 {
  font-size: 30px;
}

#inicio p,
h4 {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0px;
  padding-top: 5px;
}


#nose{
  display: flex;
}

#redes{
  margin-top: 10px;
  margin-left: 15%;
}

#descripcion {
  margin-top: 30px;
  margin-right: 30px;
}

iframe {
  margin-left: 18.5%;
  margin-top: 30px;
  margin-bottom: 30px;
}

#objetivos{
  margin-left: 30px;
}

#objetivos h5 {
  font-size: 20px;
  margin-bottom: 0px;
}

#objetivos ul {
  padding-top: 0px;
  text-align: left;
  margin-left: 30px;
}

#temas{
  margin-left: 30px;
}

#temas h5 {
  font-size: 20px;
  margin-bottom: 0px;
}

#temas ul {
  padding-top: 0px;
  text-align: left;
  margin-left: 30px;
}

#formulario{
  margin-top: 5em;
  margin-bottom: 5em;
}

#formulario form {
  margin: 0 auto;
  width: 300px;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
}

#formulario h5{
  padding-top: 0px;
  text-align: center;
}

#formulario ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#formulario li + li {
  margin-top: 1em;
}

#formulario label {
  display: inline-block;
  width: 90px;
  text-align: right;
}

#formulario button {
  margin-left: 7em;
  font-size: 18px;
  padding: auto;
}

footer {
  padding: 50px;
  background-image: url(../images/footer.png);
  background-position: 50% 50%;
}
